body {margin: 0;}
#wikidot {background-color: black; color: white; width: 100%; font-size: 12px; height: 24px; top: 0;
    display: flex;}
.newsite {margin: 0 50px 0 80px;}
.SocLinks img{padding: 0 5px;}
.SocLinks #explore {color: white;margin-left: 530px;}

.header-wrap {background-color: #786B3D}
.site-title {display: flex; justify-content: space-between;}
.DND-header {font-size: 32px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color: #ece9e4; padding: 20px 30px 0px 30px}
.sign-in {padding: 25px 25px 0px 25px}
.community {color:#d8d4d0; font: 14px;display: flex; justify-content: space-between; padding: 5px 15px 25px 50px;}
.navextras {color:#d8d4d0; font: 14px;display: flex; justify-content: space-between; padding: 5px 15px 10px 30px;}
.welchead {color:#d8d4d0; max-width: 40%; margin-left: 30px}
#welcome {font-size: 40px}
#disclmr {padding-bottom: 60px; font-size: 18px;}

.featuretags {background-color:#ffe68c;font-size: 24px;display:flex; 
    justify-content: space-evenly; padding: 40px 50px; text-align: center;margin-top: 100px}


#SpellSection {background-color:#ffe68c;display: flex; justify-content: center; margin-top: 100px; font-size: 14px;}
#SpellSchool {color:black;}
#spellbook {margin: 30px 50px 0px 0px;}
.col-sm-2 {font-size: 14px; color:#908149; font-weight: 500;padding: 30px;}


#ItemList {background-color:#ffe68c;display:flex; justify-content: center;
    margin-top: 100px; padding: 30px; font-size: 14px;}



#CurrencyPage {background-color: white}

